/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

.no-scroll {
    overflow: hidden !important;
}

body {
    padding-bottom: 2rem !important;
}

#menu-container hr {
    border          : 0;
    height          : 1px;
    background-color: rgba(0, 0, 0, 0.1);
}

#menu-container .menu {
    padding: 0;
    margin : 0;
}

#menu-container .menu .loading {
    margin : 1em auto;
    display: block;
}

#menu-container .menu .category-header {
    font-size  : 1.6em;
    font-weight: 400;
    color      : #bfa761;
}

#menu-container .menu .menu-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

#menu-container .menu .menu-item .menu-number {
    font-size  : 1.2em;
    font-weight: 500;
    padding-top: 0.5em;
    width      : 2em;
    color      : #887024;
}

#menu-container .menu .menu-item .menu-content {
    -webkit-box-flex: 1;
    -ms-flex        : 1;
    flex            : 1;
    padding         : 0.5em;
}

#menu-container .menu .menu-item .menu-content .name {
    font-size  : 1.3em;
    font-weight: 500;
    margin     : 0;
}

#menu-container .menu .menu-item .menu-content .info {
    font-size          : 1em;
    display            : inline-block;
    cursor             : pointer;
    -webkit-user-select: none;
    -moz-user-select   : none;
    -ms-user-select    : none;
    user-select        : none;
    padding            : 1em 1em 0 0;
    -webkit-transition : ease-out 200ms;
    transition         : ease-out 200ms;
}

#menu-container .menu .menu-item .menu-content .info:hover {
    color          : #128c7d;
    text-decoration: underline;
}

#menu-container .menu .menu-item .menu-content .price {
    font-size  : 1.3em;
    font-weight: 500;
    color      : #bfa761;
    display    : block;
    margin-top : 0.7em;
}

#menu-container .menu .menu-item .menu-add {
    font-size          : 2em;
    padding            : 0.5em 0em 0.5em 0.5em;
    font-weight        : 700;
    color              : #bfa761;
    -ms-flex-item-align: center;
    -ms-grid-row-align : center;
    align-self         : center;
    cursor             : pointer;
    -webkit-user-select: none;
    -moz-user-select   : none;
    -ms-user-select    : none;
    user-select        : none;
    -webkit-transition : ease-out 200ms;
    transition         : ease-out 200ms;
}

#menu-container .menu .menu-item .menu-add:hover {
    color: #128c7d;
}

.cart-container {
    position        : fixed;
    z-index         : 1000001;
    left            : 0;
    top             : 0;
    width           : 100%;
    height          : 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display         : none;
}

.cart-container .cart-content {
    position             : fixed;
    z-index              : 1000002;
    display              : -webkit-box;
    display              : -ms-flexbox;
    display              : flex;
    -webkit-box-orient   : vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction   : column;
    flex-direction       : column;
    left                 : 50%;
    top                  : 50%;
    -webkit-transform    : translate(-50%, -50%);
    transform            : translate(-50%, -50%);
    width                : 90%;
    max-width            : 40em;
    max-height           : 90%;
    background-color     : white;
    border-radius        : 0.3rem;
}

.cart-container .cart-content .head-container {
    display           : -webkit-box;
    display           : -ms-flexbox;
    display           : flex;
    -webkit-box-pack  : justify;
    -ms-flex-pack     : justify;
    justify-content   : space-between;
    -webkit-box-align : center;
    -ms-flex-align    : center;
    align-items       : center;
    padding           : 0.5em 1em 1em 1em;
    -webkit-box-shadow: 0 0 0.5rem 0 rgba(0, 0, 0, 0.2);
    box-shadow        : 0 0 0.5rem 0 rgba(0, 0, 0, 0.2);
}

.cart-container .cart-content .head-container .name {
    font-size  : 1.4em;
    font-weight: 400;
    margin     : 0.4em 0;
    display    : inline-block;
}

.cart-container .cart-content .head-container .close {
    font-size          : 1.8em;
    font-weight        : 400;
    display            : inline-block;
    cursor             : pointer;
    -webkit-user-select: none;
    -moz-user-select   : none;
    -ms-user-select    : none;
    user-select        : none;
    -webkit-transition : ease-out 200ms;
    transition         : ease-out 200ms;
}

.cart-container .cart-content .head-container .close:hover {
    color: #128c7d;
}

.cart-container .cart-content .items-container {
    overflow-y: auto;
    min-height: 5em;
}

.cart-container .cart-content .items-container .item .top-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 1em;
}

.cart-container .cart-content .items-container .item .top-row .number {
    width: 2em;
    color: #887024;
}

.cart-container .cart-content .items-container .item .top-row .name {
    -webkit-box-flex: 1;
    -ms-flex        : 1;
    flex            : 1;
    padding         : 0 1em;
    font-weight     : 500;
}

.cart-container .cart-content .items-container .item .top-row .price {
    text-align : right;
    line-height: 1.5em;
}

.cart-container .cart-content .items-container .item .bottom-row {
    display          : -webkit-box;
    display          : -ms-flexbox;
    display          : flex;
    -webkit-box-pack : end;
    -ms-flex-pack    : end;
    justify-content  : flex-end;
    -webkit-box-align: center;
    -ms-flex-align   : center;
    align-items      : center;
    font-size        : 1.3em;
    padding          : 0em 0.5em 0.5em 0;
}

.cart-container .cart-content .items-container .item .bottom-row .input-field {
    -webkit-box-flex: 1;
    -ms-flex        : 1;
    flex            : 1;
    margin          : 0 auto 0 1.3em;
    min-width       : 0;
    height          : 1.65em;
    display         : none;
    resize          : vertical;
    font-family     : inherit;
}

.cart-container .cart-content .items-container .item .bottom-row .input-text {
    -webkit-box-flex: 1;
    -ms-flex        : 1;
    flex            : 1;
    margin          : 0 auto 0 1.3em;
    font-size       : 0.7em;
}

.cart-container .cart-content .items-container .item .bottom-row i {
    display            : block;
    padding            : 0 0.3em;
    cursor             : pointer;
    -webkit-user-select: none;
    -moz-user-select   : none;
    -ms-user-select    : none;
    user-select        : none;
    color              : #bfa761;
    -webkit-transition : ease-out 200ms;
    transition         : ease-out 200ms;
}

.cart-container .cart-content .items-container .item .bottom-row i:hover {
    color: #128c7d;
}

.cart-container .cart-content .items-container .total-container {
    display          : -webkit-box;
    display          : -ms-flexbox;
    display          : flex;
    -webkit-box-pack : justify;
    -ms-flex-pack    : justify;
    justify-content  : space-between;
    -webkit-box-align: center;
    -ms-flex-align   : center;
    align-items      : center;
    padding          : 0.5em 1em 1em 1em;
}

.cart-container .cart-content .items-container .total-container .text {
    font-size  : 1em;
    font-weight: 500;
    display    : inline-block;
}

.cart-container .cart-content .items-container .total-container .total {
    font-size  : 1em;
    font-weight: 500;
    display    : inline-block;
}

.cart-container .cart-content .order-container {
    padding           : 0.4em;
    -webkit-box-shadow: 0 0 0.5rem 0 rgba(0, 0, 0, 0.2);
    box-shadow        : 0 0 0.5rem 0 rgba(0, 0, 0, 0.2);
    text-align        : center;
}

.cart-container .cart-content .order-container .order-button {
    font-size          : 1em;
    font-weight        : 400;
    margin             : 0.4em 0;
    display            : inline-block;
    background-color   : #128c7d;
    color              : white;
    padding            : 0.8em 1em;
    border-radius      : 0.3rem;
    cursor             : pointer;
    -webkit-user-select: none;
    -moz-user-select   : none;
    -ms-user-select    : none;
    user-select        : none;
    -webkit-transition : ease-out 200ms;
    transition         : ease-out 200ms;
}

.cart-container .cart-content .order-container .order-button:hover {
    background-color: #075e54;
}

.info-container {
    position        : fixed;
    z-index         : 1000001;
    left            : 0;
    top             : 0;
    width           : 100%;
    height          : 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display         : none;
}

.info-container .info-content {
    position         : fixed;
    z-index          : 1000002;
    left             : 50%;
    top              : 50%;
    -webkit-transform: translate(-50%, -50%);
    transform        : translate(-50%, -50%);
    width            : 90%;
    max-width        : 30em;
    max-height       : 90%;
    background-color : white;
    padding          : 0.5em 1.2em 1.2em 1.2em;
    overflow-y       : auto;
    border-radius    : 0.3rem;
}

.info-container .info-content .name-container {
    display          : -webkit-box;
    display          : -ms-flexbox;
    display          : flex;
    -webkit-box-pack : justify;
    -ms-flex-pack    : justify;
    justify-content  : space-between;
    -webkit-box-align: center;
    -ms-flex-align   : center;
    align-items      : center;
}

.info-container .info-content .name-container .name {
    font-size  : 1.4em;
    font-weight: 400;
    margin     : 0.4em 0;
    display    : inline-block;
}

.info-container .info-content .name-container .close {
    font-size          : 1.5em;
    font-weight        : 400;
    display            : inline-block;
    padding            : 0 0.6em;
    cursor             : pointer;
    -webkit-user-select: none;
    -moz-user-select   : none;
    -ms-user-select    : none;
    user-select        : none;
    -webkit-transition : ease-out 200ms;
    transition         : ease-out 200ms;
}

.info-container .info-content .name-container .close:hover {
    color: #128c7d;
}

.info-container .info-content .list-name {
    font-size  : 1em;
    font-weight: 500;
    margin     : 0.4em 0;
}

.info-container .info-content .list .list-item {
    font-size  : 0.9em;
    font-weight: 400;
    opacity    : 0.7;
    padding    : 0.1em 0;
}

#address-input,
#name-input {
    min-width  : 0;
    margin     : 1em auto;
    display    : block;
    width      : 90%;
    height     : 1.65em;
    resize     : vertical;
    font-family: inherit;
}

#address-input {
    height: 3em;
    resize: vertical;
}

.cart-button {
    font-size          : 1.5rem;
    font-weight        : 400;
    background-color   : #128c7d;
    color              : #fff;
    padding            : 0.5em 0;
    display            : inline-block;
    position           : fixed;
    z-index            : 1000003;
    right              : 0;
    bottom             : 0;
    width              : 100%;
    display            : -webkit-box;
    display            : -ms-flexbox;
    display            : flex;
    -ms-flex-pack      : distribute;
    justify-content    : space-around;
    cursor             : pointer;
    -webkit-user-select: none;
    -moz-user-select   : none;
    -ms-user-select    : none;
    user-select        : none;
    -webkit-transition : ease-out 200ms;
    transition         : ease-out 200ms;
}

.cart-button:hover {
    background-color: #075e55;
}